/*css for body.js*/
.container2{
  color: blueviolet;
  text-align: center;
}

/*css for navbar.js*/
/* .navbar_container .navbar-nav{
  margin-left: 260px;
} */

/* .navbar_container{
  position: fixed;
} */

.navbar_container {
  width: 100%;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .navbar-brand {
      font-size: 1.2rem; /* Adjust font size for smaller screens */
  }

  .form-check-label {
      font-size: 0.9rem; /* Adjust label size for smaller screens */
  }
}

/*css for form.js*/
.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-preview-text{
  margin-left: 20px;
}

.form-button-container{
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  justify-content: center;
  gap: 25px;
}


@media (min-width: 50px) and (max-width: 950px){
  .form-button-container{
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}

@media (min-width: 50px) and (max-width: 760px) {
  .alert-class{
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (min-width: 760px) and (max-width: 5280px){
  .alert-class{
    margin-left: 350px;
    margin-right: 350px;
  }
}